#name {
display: none;
background-image: local("pic/page1.jpg");
}
#btnToAge {
  color: white;
}
#age {
  display: none;
}
#gender {
  display: none;
}
#interests{
  display: none;
}
#adventure{
  display: none;
}
#result{
  display: none;
}
